<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sass/registration.css">
</head>
<body>
    <div>
        <div class="container-fluid">
            <div class="container-title">
                <h1>Registration</h1>
            </div>
            <div class="container-body">
                <input type="text" v-model="fname" placeholder="First Name">
                <input type="text" v-model="mname" placeholder="Middle Name">
                <input type="text" v-model="lname" placeholder="Last Name">
                <input type="text" v-model="bDate" placeholder="Birthdate">
                <input type="text" v-model="address" placeholder="Address">
                <input type="text" v-model="contact" placeholder="Contact">
                <button>Sign up</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>